<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AlramList.plist
   AlarmClock

   Created by Mijeong Jeon on 6/10/16.
   Copyright (c) 2016 Mijeong Jeon. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
